.st0{fill:#E81F1F;}
.st1{fill:#E52020;stroke:#000000;stroke-miterlimit:10;}
.st2{fill:#FF9900;}
.st3{fill:#DFD5D6;stroke:#DFD5D6;stroke-width:0.5;}
.st4{fill:#DFD5D6;stroke:#DFD5D6;stroke-width:2.0038;stroke-linecap:round;stroke-linejoin:round;}
.st5{fill:#99FF66;stroke:#99FF66;stroke-width:0.5;}
.st6{fill:#DFD5D6;stroke:#DFD5D6;stroke-width:0.4055;}
.st7{fill:#DFD5D6;stroke:#DFD5D6;stroke-width:2.8441;stroke-linecap:round;stroke-linejoin:round;}
.st8{fill:#FF9999;}
.st9{fill:#99FF66;stroke:#A7CF57;stroke-width:0.5;}
.st10{fill:#FFFF00;}
.st11{fill:#99FFFF;stroke:#99FFFF;stroke-width:0.5;}
.st12{clip-path:url(#SVGID_2_);}
.st13{fill:none;stroke:#000000;stroke-width:0.3151;}
.st14{fill:none;stroke:#000000;stroke-width:0.3412;}
.st15{fill:none;stroke:#000000;stroke-width:0.2733;}
.st16{fill:none;stroke:#000000;stroke-width:0.3137;}
.st17{fill:none;stroke:#000000;stroke-width:0.3264;}
.st18{fill:none;stroke:#000000;stroke-width:0.2804;}
.st19{fill:none;stroke:#000000;stroke-width:0.293;}
.st20{fill:none;stroke:#000000;stroke-width:0.2855;}
.st21{fill:none;stroke:#000000;stroke-width:0.3378;}
.st22{fill:none;stroke:#000000;stroke-width:0.3493;}
.st23{fill:none;stroke:#000000;stroke-width:0.3806;}
.st24{fill:none;stroke:#000000;stroke-width:0.2428;}
.st25{fill:none;stroke:#000000;stroke-width:0.3673;}
.st26{fill:none;stroke:#000000;stroke-width:0.241;}
.st27{fill:none;stroke:#000000;stroke-width:0.3533;}
.st28{fill:none;stroke:#000000;stroke-width:0.3174;}
.st29{fill:none;stroke:#000000;stroke-width:0.3357;}
.st30{fill:none;stroke:#000000;stroke-width:0.3733;}
.st31{fill:none;stroke:#000000;stroke-width:0.4026;}
.st32{fill:none;stroke:#000000;stroke-width:0.4051;}
.st33{fill:none;stroke:#000000;stroke-width:0.419;}
.st34{fill:none;stroke:#000000;stroke-width:0.3222;}
.st35{fill:none;stroke:#000000;stroke-width:0.3553;}
.st36{fill:none;stroke:#000000;stroke-width:0.299;}
.st37{fill:none;stroke:#000000;stroke-width:0.2984;}
.st38{fill:none;stroke:#000000;stroke-width:0.2941;}
.st39{fill:none;stroke:#000000;stroke-width:0.3522;}
.st40{fill:none;stroke:#000000;stroke-width:0.3397;}
.st41{fill:none;stroke:#000000;stroke-width:0.367;}
.st42{fill:none;stroke:#000000;stroke-width:0.4145;}
.st43{fill:none;stroke:#000000;stroke-width:0.2441;}
.st44{fill:none;stroke:#000000;stroke-width:0.2431;}
.st45{fill:none;stroke:#000000;stroke-width:0.3953;}
.st46{fill:none;stroke:#000000;stroke-width:0.3549;}
.st47{fill:none;stroke:#000000;stroke-width:0.405;}
.st48{fill:none;stroke:#000000;stroke-width:0.2461;}
.st49{fill:none;stroke:#000000;stroke-width:0.3327;}
.st50{fill:none;stroke:#000000;stroke-width:0.3771;}
.st51{fill:none;stroke:#000000;stroke-width:0.3638;}
.st52{fill:none;stroke:#000000;stroke-width:0.2493;}
.st53{fill:none;stroke:#000000;stroke-width:0.3679;}
.st54{fill:none;stroke:#000000;stroke-width:0.3742;}
.st55{fill:none;stroke:#000000;stroke-width:0.2919;}
.st56{fill:none;stroke:#000000;stroke-width:0.3772;}
.st57{fill:none;stroke:#000000;stroke-width:0.2458;}
.st58{fill:none;stroke:#000000;stroke-width:0.3304;}
.st59{fill:none;stroke:#000000;stroke-width:0.31;}
.st60{fill:none;stroke:#000000;stroke-width:0.2565;}
.st61{fill:none;stroke:#000000;stroke-width:0.3623;}
.st62{fill:none;stroke:#000000;stroke-width:0.3974;}
.st63{fill:none;stroke:#000000;stroke-width:0.3114;}
.st64{fill:none;stroke:#000000;stroke-width:0.2511;}
.st65{fill:none;stroke:#000000;stroke-width:0.3169;}
.st66{fill:none;stroke:#000000;stroke-width:0.4086;}
.st67{fill:none;stroke:#000000;stroke-width:0.3026;}
.st68{fill:none;stroke:#000000;stroke-width:0.3355;}
.st69{fill:none;stroke:#000000;stroke-width:0.3219;}
.st70{fill:none;stroke:#000000;stroke-width:0.2705;}
.st71{fill:none;stroke:#000000;stroke-width:0.3625;}
.st72{fill:none;stroke:#000000;stroke-width:0.3844;}
.st73{fill:none;stroke:#000000;stroke-width:0.2501;}
.st74{fill:none;stroke:#000000;stroke-width:0.3321;}
.st75{fill:none;stroke:#000000;stroke-width:0.3978;}
.st76{fill:none;stroke:#000000;stroke-width:0.2614;}
.st77{fill:none;stroke:#000000;stroke-width:0.2796;}
.st78{fill:none;stroke:#000000;stroke-width:0.2915;}
.st79{fill:none;stroke:#000000;stroke-width:0.4169;}
.st80{fill:none;stroke:#000000;stroke-width:0.2439;}
.st81{fill:none;stroke:#000000;stroke-width:0.2555;}
.st82{fill:none;stroke:#000000;stroke-width:0.4199;}
.st83{fill:none;stroke:#000000;stroke-width:0.2408;}
.st84{fill:none;stroke:#000000;stroke-width:0.3462;}
.st85{fill:none;stroke:#000000;stroke-width:0.2904;}
.st86{fill:none;stroke:#000000;stroke-width:0.2435;}
.st87{fill:none;stroke:#000000;stroke-width:0.2715;}
.st88{fill:none;stroke:#000000;stroke-width:0.2612;}
.st89{fill:none;stroke:#000000;stroke-width:0.2623;}
.st90{fill:none;stroke:#000000;stroke-width:0.2583;}
.st91{fill:none;stroke:#000000;stroke-width:0.2911;}
.st92{fill:none;stroke:#000000;stroke-width:0.3641;}
.st93{fill:none;stroke:#000000;stroke-width:0.4071;}
.st94{fill:none;stroke:#000000;stroke-width:0.3811;}
.st95{fill:none;stroke:#000000;stroke-width:0.3575;}
.st96{fill:none;stroke:#000000;stroke-width:0.3867;}
.st97{fill:none;stroke:#000000;stroke-width:0.3313;}
.st98{fill:none;stroke:#000000;stroke-width:0.3793;}
.st99{fill:none;stroke:#000000;stroke-width:0.3977;}
.st100{fill:none;stroke:#000000;stroke-width:0.4128;}
.st101{fill:none;stroke:#000000;stroke-width:0.3506;}
.st102{fill:none;stroke:#000000;stroke-width:0.351;}
.st103{fill:none;stroke:#000000;stroke-width:0.3344;}
.st104{fill:none;stroke:#000000;stroke-width:0.3631;}
.st105{fill:none;stroke:#000000;stroke-width:0.2669;}
.st106{fill:none;stroke:#000000;stroke-width:0.3283;}
.st107{fill:none;stroke:#000000;stroke-width:0.2875;}
.st108{fill:none;stroke:#000000;stroke-width:0.2537;}
.st109{fill:none;stroke:#000000;stroke-width:0.3079;}
.st110{fill:none;stroke:#000000;stroke-width:0.3144;}
.st111{fill:none;stroke:#000000;stroke-width:0.4031;}
.st112{fill:none;stroke:#000000;stroke-width:0.4106;}
.st113{fill:none;stroke:#000000;stroke-width:0.2717;}
.st114{fill:none;stroke:#000000;stroke-width:0.3023;}
.st115{fill:none;stroke:#000000;stroke-width:0.4024;}
.st116{fill:none;stroke:#000000;stroke-width:0.3976;}
.st117{fill:none;stroke:#000000;stroke-width:0.2959;}
.st118{fill:none;stroke:#000000;stroke-width:0.2953;}
.st119{fill:none;stroke:#000000;stroke-width:0.3395;}
.st120{fill:none;stroke:#000000;stroke-width:0.3759;}
.st121{fill:none;stroke:#000000;stroke-width:0.3434;}
.st122{fill:none;stroke:#000000;stroke-width:0.305;}
.st123{fill:none;stroke:#000000;stroke-width:0.2556;}
.st124{fill:none;stroke:#000000;stroke-width:0.2801;}
.st125{fill:none;stroke:#000000;stroke-width:0.3856;}
.st126{fill:none;stroke:#000000;stroke-width:0.3265;}
.st127{fill:none;stroke:#000000;stroke-width:0.3517;}
.st128{fill:none;stroke:#000000;stroke-width:0.4129;}
.st129{fill:none;stroke:#000000;stroke-width:0.3839;}
.st130{fill:none;stroke:#000000;stroke-width:0.2917;}
.st131{fill:none;stroke:#000000;stroke-width:0.4177;}
.st132{fill:none;stroke:#000000;stroke-width:0.3965;}
.st133{fill:none;stroke:#000000;stroke-width:0.2479;}
.st134{fill:none;stroke:#000000;stroke-width:0.3593;}
.st135{fill:none;stroke:#000000;stroke-width:0.3207;}
.st136{fill:none;stroke:#000000;stroke-width:0.2617;}
.st137{fill:none;stroke:#000000;stroke-width:0.3117;}
.st138{fill:none;stroke:#000000;stroke-width:0.2825;}
.st139{fill:none;stroke:#000000;stroke-width:0.2888;}
.st140{fill:none;stroke:#000000;stroke-width:0.2546;}
.st141{fill:none;stroke:#000000;stroke-width:0.3469;}
.st142{fill:none;stroke:#000000;stroke-width:0.3751;}
.st143{fill:none;stroke:#000000;stroke-width:0.2738;}
.st144{fill:none;stroke:#000000;stroke-width:0.2609;}
.st145{fill:none;stroke:#000000;stroke-width:0.3542;}
.st146{fill:none;stroke:#000000;stroke-width:0.2938;}
.st147{fill:none;stroke:#000000;stroke-width:0.371;}
.st148{fill:none;stroke:#000000;stroke-width:0.2872;}
.st149{fill:none;stroke:#000000;stroke-width:0.2516;}
.st150{fill:none;stroke:#000000;stroke-width:0.3188;}
.st151{fill:none;stroke:#000000;stroke-width:0.3165;}
.st152{fill:none;stroke:#000000;stroke-width:0.2604;}
.st153{fill:none;stroke:#000000;stroke-width:0.2716;}
.st154{fill:#000000;}
.st155{fill:#FFFF00;stroke:#FFFF00;stroke-width:0.5;}
.st156{fill:#FF9999;stroke:#FF9999;stroke-width:0.5;}
.st157{fill:none;}
.st158{fill:#CC99CC;stroke:#CC99CC;stroke-width:0.5;}
.st159{fill:#99FFFF;stroke:#000000;stroke-width:0.5;}
.st160{font-family:'ArialMT';}
.st161{font-size:9px;}
.st162{fill:#99FF66;stroke:#000000;stroke-width:0.5;}
.st163{fill:#DFD5D6;stroke:#000000;stroke-width:0.5;}
.st164{fill:#FF9900;stroke:#000000;stroke-width:0.5;}
.st165{fill:#FFFF00;stroke:#000000;stroke-width:0.5;}
.st166{fill:#FF9999;stroke:#000000;stroke-width:0.5;}
.st167{fill:none;stroke:#000000;stroke-width:0.9352;stroke-linecap:round;stroke-linejoin:round;}
.st168{fill:none;stroke:#000000;stroke-width:0.9291;}
.st169{letter-spacing:1.3;}
.st170{font-size:10px;}
.st171{fill:none;stroke:#000000;stroke-width:0.7074;}
.st172{fill:none;stroke:#000000;stroke-width:0.8677;stroke-dasharray:0.7809;}
.st173{fill:none;stroke:#000000;stroke-width:0.6842;}
.st174{stroke:#000000;stroke-width:0.5;}
.st175{fill:#FF0000;stroke:#000000;}
.st176{fill:none;stroke:#000000;}
.st177{fill:#CC99CC;stroke:#000000;stroke-width:0.5;}
.st178{fill:#FF9999;stroke:#FF9999;stroke-width:0.5536;}
.st179{fill:#FFFF00;stroke:#FFFF00;stroke-linecap:round;stroke-linejoin:round;}
.st180{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
.st181{fill:none;stroke:#FF0000;stroke-linecap:round;stroke-linejoin:round;}
.st182{fill:#FFFFFF;stroke:#000000;}
.st183{font-size:7px;}
.st184{fill:none;stroke:#FF0000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
.st185{fill:none;stroke:#993300;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;}
.st186{fill:#DFD5D6;stroke:#DFD5D6;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
.st187{stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
.st188{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
.st189{fill:none;stroke:#4D0000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
.st190{fill:none;stroke:#000000;stroke-width:2.1367;stroke-linecap:round;stroke-linejoin:round;}
.st191{fill:none;stroke:#000000;stroke-width:1.7787;stroke-linecap:round;stroke-linejoin:round;}
.st192{fill:none;stroke:#FF00FF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
.st193{fill:none;stroke:#000000;stroke-width:2.0074;stroke-linecap:round;stroke-linejoin:round;}
.st194{font-size:5.927px;}
.st195{fill:#004A2A;}
.st196{fill:none;stroke:#004A2A;stroke-width:3;}
.st197{font-size:36px;}
.st198{fill:none;stroke:#FF00FF;stroke-linecap:round;stroke-linejoin:round;}
.st199{fill:none;stroke:#0000FF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
.st200{letter-spacing:19;}
.st201{letter-spacing:13;}
.st202{fill:#FF0000;stroke:#FF0000;stroke-width:0.5393;}
.st203{fill:none;stroke:#99FFFF;stroke-width:0.5;}
.st204{fill:#999999;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
.st205{fill:none;stroke:#000000;stroke-width:2;}
.st206{font-size:24px;}
.st207{letter-spacing:27.2;}
.st208{fill:none;stroke:#FFFFFF;}
.st209{letter-spacing:3.7;}
.st210{fill:#FF0000;stroke:#FF0000;stroke-width:0.2589;}
.st211{stroke:#000000;stroke-width:0.2589;}
.st212{fill:none;stroke:#000000;stroke-width:0.1917;stroke-miterlimit:10;}
.st213{fill:#036B41;stroke:#E9AE11;stroke-width:0.2657;stroke-miterlimit:10;}
.st214{fill:none;stroke:#E9AE11;stroke-width:0.2657;stroke-miterlimit:10;}
.st215{font-size:12px;}
.st216{font-family:'PalatinoLinotype-Roman';}
.st217{font-size:2.3911px;}
.st218{letter-spacing:222;}
.st219{fill:#E7AE22;}
.st220{fill:#036B41;}
.st221{font-family:'TimesNewRomanPS-ItalicMT';}
.st222{font-size:9.063px;}
.st223{fill:none;stroke:#E7AE22;stroke-width:2.3311;stroke-miterlimit:10;}
.st224{fill:none;stroke:#E7AE22;stroke-width:1.7483;stroke-miterlimit:10;}
.st225{font-size:3.7724px;}
.st226{fill:none;stroke:#FFFFFF;stroke-width:0.2695;stroke-miterlimit:10;}
.st227{display:none;}
.st228{display:inline;fill:#E7AE22;}
.st229{fill:#036B41;stroke:#E9AE11;stroke-width:0.2656;stroke-miterlimit:10;}
.st230{fill:none;stroke:#006940;stroke-width:0.5314;stroke-miterlimit:10;}
.st231{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.2695;stroke-miterlimit:10;}